<ion-header>
  <ion-toolbar>
    <ion-title text-align>About</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div id="header">
    <img src="assets/logo.png" />
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-lowercase">About Scheduler</ion-card-subtitle>
      <ion-card-title>Schedule</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This Schedule App is a simple scheduler in which the user can enter their own time, date, end time, and repeat intervals.
    </ion-card-content>
  </ion-card>

  <div class="social-btns">
    <ion-button fill="clear" class="facebookbtn ion-no-padding">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="githubbtn ion-no-padding">
      <ion-icon name="logo-github"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="mailbtn ion-no-padding">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-button>
  </div>


</ion-content>
